<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajax-json</title>
    <style>
      #result {
        min-width: 200px;
        min-height: 200px;
        border: 1px solid #000;
      }
    </style>
  </head>
  <body>
    <div id="result"></div>
    <script src="../base.js"></script>
    <script>
      const result = document.getElementById("result")
      // 键盘按下
      window.onkeydown = function () {
        // 发送请求
        const xhr = new XMLHttpRequest()
        // 设置响应数据的类型
        xhr.responseType = "json"
        //初始化
        xhr.open("GET", "http://127.0.0.1:8000/json-server")
        // xhr.open("GET", "http://jsonplaceholder.typicode.com/users")
        // 发送
        xhr.send()
        // 事件绑定
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status >= 200 && xhr.status < 300) {
              let data = xhr.response
              // 筛选数据 手动转化 自动转化在上面responseType
              // let data = JSON.parse(xhr.response)
              // let nameArray = []
              // for (let i = 0; i < data.length; i++) {
              //    nameArray.push(data[i].username)
              // }
              //  result.innerHTML = nameArray
              result.innerHTML = data
            }
          }
        }
      }
    </script>
  </body>
</html>
