<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Axios</title>
    <script type="text/javascript" crossorigin="anonymous"
        src="https://cdn.bootcdn.net/ajax/libs/axios/0.24.0/axios.min.js"></script>
</head>

<body>
    <button class="btn">GET</button>
    <button class="btn">POST</button>
    <button class="btn">Axios</button>

    <script>
        const btns = document.querySelectorAll('.btn')
        // baseURL简化数据链接
        axios.defaults.baseURL = 'http://127.0.0.1:8000'
        btns[0].onclick = function () {
            axios.get("/axios-server",
                // axios.get("http://127.0.0.1:8000/axios-server",
                {
                    // url参数 出现在地址栏里
                    params: {
                        id: 0,
                        vip: 7
                    },
                    // 请求头，出现在调试后台里
                    headers: {
                        name: 'axios-get',
                        age: 2
                    }
                }).then(data => {
                    // 获取的数据比ajax()更详细
                    console.log(data)
                })
        }
        btns[1].onclick = function () {
            axios.post('/axios-server',
                // 请求体 data 默认第二个是请求体
                {
                    username: 'admin',
                    password: 'password'
                }, {
                params: {
                    id: 1,
                    vip: 7
                },
                // 请求头，出现在调试后台里
                headers: {
                    name: 'axios-post',
                    age: 2
                }
            })
        }
        btns[2].onclick = function () {
            axios({
                methods: 'POST',
                url:'/axios-server',
                params: {
                    id: 2,
                    level: 2
                },
                headers: {
                    name: 'axios-post',
                    age: 4
                },
                data: {
                    username: 'admin',
                    password: 'password'
                }
            }).then(response=>{
                console.log(response)
                console.log(response.data)
                console.log(response.status)
                console.log(response.statusText)
            })
        }
    </script>
</body>

</html>