<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>取消请求（手动）</title>

  </head>
  <body>
    <button id="btn">点击发送请求</button>
    <script src="../base.js"></script>
    <script>
      const btn = document.getElementById("btn")
      const btnCan = document.getElementById("btnCan")
      let xhr = null
      btn.onclick=function () {
        xhr=new XMLHttpRequest()
        xhr.open("GET", "http://127.0.0.1:8000/delay")
        xhr.send()
      }
      btnCan.addEventListener('click',function(){
        xhr.abort()
      })
    </script>
  </body>
</html>
